<?xml version="1.0"?>
<config>
    <modules>
        <Philwinkle_StaticBlockGridLinks>
             <version>0.1.0</version>
        </Philwinkle_StaticBlockGridLinks>
    </modules>
    <admin>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <philwinkle_staticblockgridlinks>
                        <class>Philwinkle_StaticBlockGridLinks_Model_Observer</class>
                        <method>coreBlockAbstractPrepareLayoutBefore</method>
                    </philwinkle_staticblockgridlinks>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
</config>